h1 {
  color: firebrick;
  padding: 5px;
  font-size: 50px;
  text-align: center;
  font-family: arial;
}

video {
  position: fixed;
  width: 30vw;
  bottom: 0;
  right: 0;
}

img {
  width: 50vw;
  margin: 100px 25vw 1000px;
}

.message {
  display: none;
}

/*@keyframes float-on {
  0%{left: -200px;}
  50%{left: 30px;}
  100%{left: 200%;}
}

.message {
  position: fixed;
  top: 0;
  left: -200px;
  animation-name: float-on;
  animation-duration: 3s;
  animation-delay: 
}*/